# DATASHIFT

sandbox
sandbox/**

# developing a gem so don't commit lock file
Gemfile.lock

*.gem
.~lock.*
*~
*.cache
*.log
*.pid
*.tmproj
*.sw?
logs
logs/**
public
public/**

MissingAttachmentRecords
spec/logs
spec/fixtures/results
/spec/MissingAttachmentRecords
/spec/tmp/*
/spec/rspec_spree_sandbox
/spec/rspec_spree_sandbox/*

nbproject
Thumbs.db

*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
**.orig
rerun.txt
pickle-email-*.html
